.your-cofe__center{
  background: #F8F8F2;
  background-blend-mode: overlay;
}
.your-cofe__inner {
  display: flex;
  width: 1400px;
  justify-content: space-between;
  padding: 50px 144px 50px 30px;

}
// .inner-left {
// }
.left-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.left-item {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  font-variant: small-caps;
  color: #555555;
  margin-top: 0;
  margin-bottom: 35px;
}
.left-item--modifile{
  margin-bottom: 0;
  border-bottom: 3px dashed #C99B67;
  color: #000000;
  font-weight: 700;
  min-width: 165px;
  max-width: 190px;
}

.inner-right__top {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  // justify-content: space-between;
}

.div{
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.div--modifile{
  margin-bottom: 100px;
}

.top__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height */
  font-variant: small-caps;
  color: #000000;
  margin: 0;
  margin-right: 55px;
}
  input{
  display: none;
}
.coffee {
  display: inline-block;
  background: #cecece;
  // opacity: 0.2;
  width: 208px;
  height: 220px;
  padding: 30px 12px 56px 17px;
  margin-right: 18px;

  // &:active{
  //   background-color: #0A775F;
  //   // opacity: 0;
  //   color: #ffffff;
  // }
}
input:checked ~ .coffee{
  background: #0A775F;
  color: #fff;
}

// input:checked ~ .coffee > .coffee-title .coffee-text{
//   color:#fff;
// }
.coffee-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-variant: small-caps;
}
.coffee-text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
}
strong{
  display: block;
}

.bottom-div{
  padding: 40px 20px;
  background: #C99B67;
  max-width: 660px;
  margin-bottom: 20px;
}

.bottom-title{
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-transform: uppercase;
  color: #FFFFFF;
}

.spancha{
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  /* or 142% */
  color: #FFFFFF;
}
span{
  color: #000000;
}

button{
  display: block;
  margin-left: auto;
  margin-right: 60px;
  // margin-right: ;
  border: none;
  padding: 16px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #FFFFFF;
  background: #0A775F;
  border-radius: 100px;
}